<mat-card>
  <mat-form-field>
    <input type="text" matInput placeholder="ID" [(ngModel)]="id" />
  </mat-form-field>
  <hr/>
  <mat-form-field>
    <input type="text" matInput placeholder="Titulo" [(ngModel)]="titulo" />
  </mat-form-field>
  <hr/>
  <mat-form-field>
    <input type="text" matInput placeholder="Autor" [(ngModel)]="autor" />
  </mat-form-field>
    <hr/>
  <mat-form-field>
    <input type="text" matInput placeholder="Número de páginas" [(ngModel)]="paginas" />
  </mat-form-field>
    <hr/>
    <button color="primary" mat-raised-button (click)="onAdicionarLivro()">Cadastrar Livro</button>
</mat-card>

